body {
  padding : 0.5em;
  width : 90%;
  margin : 0 auto;
  background-image : url("https://us.123rf.com/450wm/guita22/guita221803/guita22180300002/98598727-waterfall-at-night-and-pond-wiht-lilies-and-dragonflies-photo-manipulation-3d-rendering-.jpg?ver=6");
  background-size : contain;
  background-position : center;
  background-repeat : no-repeat;
  background-attachment : fixed;
  background-size : cover;
}
#content {
  overflow : auto;
  color : green;
}
#nav, #feature, #footer {
  margin : 3%;
}
.column1 {
  width : 100%;
  margin : 1%;
  margin-bottom : 1em;
  background-color : wheat;
  padding : 0.5em;
}
main {
  flex : auto;
}
h1 {
  color : white;
}
#nav, #footer {
  background-color : pink;
  padding : 0.5em 12px;
  margin : 0.5px;
  padding : 10px 20px;
}
.image {
  margin-left : 10%;
  margin-right : 10%;
  text-align : center;
  border-radius : 50%;
}
.clear {
  clear : both;
}
#nav li {
  display : inline;
  padding : 1em;
}
p{
  background-color: antiquewhite;
}
h2{
  background-color: khaki
}
p, h1, a {
  font-family : 'CMUSerifRoman';
  font-weight : normal;
  font-style : normal;
  font-size : 200%;
}
